*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    height: 69px;
}

nav a{
    color: seashell;
}

nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}


.logo{
    height: 50px;
}

.heroimage{
    height: 700px;
    width: 1200px;
    background-image: url('images/img-mission-background.webp');
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mission{
    padding: 10px;
    background-color: black;
    width: 100%;
}

h2{
    margin-bottom: 20px;
}

.main{
    width: 1000px;
    margin: 60px auto;
}

.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

figure{
    margin-top: 20px;
}

figure img{
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.locations{
    background-image: url('images/img-locations-background.webp');
    background-size: cover;
    height: 500px;
    width: 1200px;
    margin: 20px auto;
    position: relative;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
}
.address{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.locationheading{
    margin-bottom: 0;
    position: absolute;
    top: 50px;
    left: 520px;
}

footer{
    height: 200px;
    margin-bottom: 20px;
}

footer h5{
    margin-bottom: 15px;
}

.copyright{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}


